* text=auto !eol
WebContent/META-INF/MANIFEST.MF -text
WebContent/WEB-INF/applicationContext.xml -text
WebContent/WEB-INF/ehcache.xml -text
WebContent/WEB-INF/lib/activation.jar -text
WebContent/WEB-INF/lib/antlr-2.7.7.jar -text
WebContent/WEB-INF/lib/aopalliance-1.0.jar -text
WebContent/WEB-INF/lib/asm-3.3.jar -text
WebContent/WEB-INF/lib/asm-commons-3.3.jar -text
WebContent/WEB-INF/lib/asm-tree-3.3.jar -text
WebContent/WEB-INF/lib/aspectjweaver.jar -text
WebContent/WEB-INF/lib/builder-0.6.2.jar -text
WebContent/WEB-INF/lib/classmate-1.3.0.jar -text
WebContent/WEB-INF/lib/classworlds-1.1.jar -text
WebContent/WEB-INF/lib/commons-beanutils-1.8.0.jar -text
WebContent/WEB-INF/lib/commons-chain-1.2.jar -text
WebContent/WEB-INF/lib/commons-codec-1.5.jar -text
WebContent/WEB-INF/lib/commons-collections-3.1.jar -text
WebContent/WEB-INF/lib/commons-digester-2.0.jar -text
WebContent/WEB-INF/lib/commons-fileupload-1.3.1.jar -text
WebContent/WEB-INF/lib/commons-io-2.2.jar -text
WebContent/WEB-INF/lib/commons-lang-2.4.jar -text
WebContent/WEB-INF/lib/commons-lang3-3.2.jar -text
WebContent/WEB-INF/lib/commons-logging-1.1.3.jar -text
WebContent/WEB-INF/lib/commons-logging-api-1.1.jar -text
WebContent/WEB-INF/lib/commons-validator-1.3.1.jar -text
WebContent/WEB-INF/lib/core-0.6.2.jar -text
WebContent/WEB-INF/lib/displaytag-1.2.jar -text
WebContent/WEB-INF/lib/dom4j-1.6.1.jar -text
WebContent/WEB-INF/lib/dwr-1.1.1.jar -text
WebContent/WEB-INF/lib/ehcache-2.10.1.jar -text
WebContent/WEB-INF/lib/ehcache-spring-annotations-1.2.0.jar -text
WebContent/WEB-INF/lib/ezmorph-1.0.6.jar -text
WebContent/WEB-INF/lib/freemarker-2.3.22.jar -text
WebContent/WEB-INF/lib/geronimo-jta_1.1_spec-1.1.1.jar -text
WebContent/WEB-INF/lib/google-collections-1.0.jar -text
WebContent/WEB-INF/lib/google-gxp-0.2.4-beta.jar -text
WebContent/WEB-INF/lib/guava-r09.jar -text
WebContent/WEB-INF/lib/hibernate-commons-annotations-5.0.1.Final.jar -text
WebContent/WEB-INF/lib/hibernate-core-5.1.0.Final.jar -text
WebContent/WEB-INF/lib/hibernate-jpa-2.1-api-1.0.0.Final.jar -text
WebContent/WEB-INF/lib/jackson-core-asl-1.9.2.jar -text
WebContent/WEB-INF/lib/jackson-mapper-asl-1.9.2.jar -text
WebContent/WEB-INF/lib/jandex-2.0.0.Final.jar -text
WebContent/WEB-INF/lib/javassist-3.11.0.GA.jar -text
WebContent/WEB-INF/lib/javassist-3.20.0-GA.jar -text
WebContent/WEB-INF/lib/jboss-logging-3.3.0.Final.jar -text
WebContent/WEB-INF/lib/json-lib-2.3-jdk15.jar -text
WebContent/WEB-INF/lib/juli-6.0.18.jar -text
WebContent/WEB-INF/lib/junit-4.10.jar -text
WebContent/WEB-INF/lib/junit-4.12.jar -text
WebContent/WEB-INF/lib/log4j-api-2.5.jar -text
WebContent/WEB-INF/lib/log4j-core-2.5.jar -text
WebContent/WEB-INF/lib/mail.jar -text
WebContent/WEB-INF/lib/mvel2-2.0.11.jar -text
WebContent/WEB-INF/lib/ognl-3.0.6.jar -text
WebContent/WEB-INF/lib/org.apache.felix.framework-4.0.3.jar -text
WebContent/WEB-INF/lib/org.apache.felix.main-4.0.3.jar -text
WebContent/WEB-INF/lib/org.apache.felix.shell-1.4.3.jar -text
WebContent/WEB-INF/lib/org.apache.felix.shell.tui-1.4.1.jar -text
WebContent/WEB-INF/lib/org.osgi.compendium-4.0.0.jar -text
WebContent/WEB-INF/lib/org.osgi.core-4.1.0.jar -text
WebContent/WEB-INF/lib/oro-2.0.8.jar -text
WebContent/WEB-INF/lib/oval-1.31.jar -text
WebContent/WEB-INF/lib/plexus-container-default-1.0-alpha-10.jar -text
WebContent/WEB-INF/lib/plexus-utils-1.2.jar -text
WebContent/WEB-INF/lib/sitemesh-2.4.2.jar -text
WebContent/WEB-INF/lib/slf4j-api-1.7.17.jar -text
WebContent/WEB-INF/lib/slf4j-nop-1.7.17.jar -text
WebContent/WEB-INF/lib/spring-aop-4.2.4.RELEASE.jar -text
WebContent/WEB-INF/lib/spring-beans-4.2.4.RELEASE.jar -text
WebContent/WEB-INF/lib/spring-context-4.2.4.RELEASE.jar -text
WebContent/WEB-INF/lib/spring-context-support-4.2.4.RELEASE.jar -text
WebContent/WEB-INF/lib/spring-core-4.2.4.RELEASE.jar -text
WebContent/WEB-INF/lib/spring-expression-4.2.4.RELEASE.jar -text
WebContent/WEB-INF/lib/spring-jdbc-4.2.4.RELEASE.jar -text
WebContent/WEB-INF/lib/spring-orm-4.2.4.RELEASE.jar -text
WebContent/WEB-INF/lib/spring-test-4.2.4.RELEASE.jar -text
WebContent/WEB-INF/lib/spring-tx-4.2.4.RELEASE.jar -text
WebContent/WEB-INF/lib/spring-web-4.2.4.RELEASE.jar -text
WebContent/WEB-INF/lib/struts-core-1.3.10.jar -text
WebContent/WEB-INF/lib/struts2-config-browser-plugin-2.3.24.1.jar -text
WebContent/WEB-INF/lib/struts2-convention-plugin-2.3.24.1.jar -text
WebContent/WEB-INF/lib/struts2-core-2.3.24.1.jar -text
WebContent/WEB-INF/lib/struts2-dojo-plugin-2.3.24.1.jar -text
WebContent/WEB-INF/lib/struts2-dwr-plugin-2.3.24.1.jar -text
WebContent/WEB-INF/lib/struts2-embeddedjsp-plugin-2.3.24.1.jar -text
WebContent/WEB-INF/lib/struts2-jasperreports-plugin-2.3.24.1.jar -text
WebContent/WEB-INF/lib/struts2-javatemplates-plugin-2.3.24.1.jar -text
WebContent/WEB-INF/lib/struts2-jfreechart-plugin-2.3.24.1.jar -text
WebContent/WEB-INF/lib/struts2-jquery-plugin-3.7.0.jar -text
WebContent/WEB-INF/lib/struts2-json-plugin-2.3.24.1.jar -text
WebContent/WEB-INF/lib/struts2-junit-plugin-2.3.24.1.jar -text
WebContent/WEB-INF/lib/struts2-oval-plugin-2.3.24.1.jar -text
WebContent/WEB-INF/lib/struts2-pell-multipart-plugin-2.3.24.1.jar -text
WebContent/WEB-INF/lib/struts2-plexus-plugin-2.3.24.1.jar -text
WebContent/WEB-INF/lib/struts2-sitegraph-plugin-2.3.24.1.jar -text
WebContent/WEB-INF/lib/struts2-sitemesh-plugin-2.3.24.1.jar -text
WebContent/WEB-INF/lib/struts2-spring-plugin-2.3.24.1.jar -text
WebContent/WEB-INF/lib/struts2-struts1-plugin-2.3.24.1.jar -text
WebContent/WEB-INF/lib/struts2-testng-plugin-2.3.24.1.jar -text
WebContent/WEB-INF/lib/struts2-tiles-plugin-2.3.24.1.jar -text
WebContent/WEB-INF/lib/tiles-api-2.0.6.jar -text
WebContent/WEB-INF/lib/tiles-core-2.0.6.jar -text
WebContent/WEB-INF/lib/tiles-jsp-2.0.6.jar -text
WebContent/WEB-INF/lib/velocity-1.6.4.jar -text
WebContent/WEB-INF/lib/velocity-tools-1.3.jar -text
WebContent/WEB-INF/lib/xmlpull-1.1.3.1.jar -text
WebContent/WEB-INF/lib/xpp3_min-1.1.4c.jar -text
WebContent/WEB-INF/lib/xstream-1.4.2.jar -text
WebContent/WEB-INF/lib/xwork-core-2.3.24.1.jar -text
WebContent/WEB-INF/tiles.xml -text
WebContent/WEB-INF/web.xml -text
WebContent/images/bg_body_l.png -text
WebContent/images/bg_body_r.png -text
WebContent/images/bg_sh.png -text
WebContent/images/footer_hhs.gif -text
WebContent/images/footer_nci.gif -text
WebContent/images/footer_nih.gif -text
WebContent/images/footer_usagov.gif -text
WebContent/images/navtab-left.gif -text
WebContent/images/navtab-right.gif -text
WebContent/images/nci-banner-h.gif -text
WebContent/images/nci-banner.gif -text
WebContent/images/ras_logo.png -text
WebContent/images/subnav-divider.gif -text
WebContent/index.jsp -text
WebContent/jsp/content/projectGeneralInfo.jsp -text
WebContent/jsp/content/search.jsp -text
WebContent/jsp/content/submissionBasicStudyInfo.jsp -text
WebContent/jsp/content/submissionBasicStudyInfoView.jsp -text
WebContent/jsp/content/submissionDetail.jsp -text
WebContent/jsp/content/submissionGdsPlan.jsp -text
WebContent/jsp/content/submissionGdsPlanView.jsp -text
WebContent/jsp/content/submissionGeneralInfoView.jsp -text
WebContent/jsp/content/submissionIcAndDul.jsp -text
WebContent/jsp/content/submissionIcList.jsp -text
WebContent/jsp/content/submissionIcListView.jsp -text
WebContent/jsp/error/errorMessages.jsp -text
WebContent/jsp/error/exception.jsp -text
WebContent/jsp/error/notAuthorized.jsp -text
WebContent/jsp/layout/base.jsp -text
WebContent/jsp/layout/footer.jsp -text
WebContent/jsp/layout/header.jsp -text
WebContent/jsp/layout/navbar.jsp -text
WebContent/scripts/gds.js -text
WebContent/stylesheets/styles.css -text
build/build.xml -text
build/env.properties -text
build/user.properties -text
lib/tomcat/catalina-ant.jar -text
lib/tomcat/jasper.jar -text
lib/tomcat/jsp-api.jar -text
lib/tomcat/ojdbc6.jar -text
lib/tomcat/servlet-api.jar -text
lib/tomcat/tomcat-coyote.jar -text
lib/tomcat/tomcat-juli.jar -text
lib/tomcat/tomcat-util.jar -text
properties/application.properties -text
properties/db-connection.properties -text
properties/local/gds.properties -text
properties/local/log4j2.xml -text
properties/messages.properties -text
screens/css/bootstrap-theme.css -text
screens/css/bootstrap-theme.css.map -text
screens/css/bootstrap-theme.min.css -text
screens/css/bootstrap-theme.min.css.map -text
screens/css/bootstrap.css -text
screens/css/bootstrap.css.map -text
screens/css/bootstrap.min.css -text
screens/css/bootstrap.min.css.map -text
screens/css/custom.css -text
src/gov/nih/nci/cbiit/scimgmt/gds/actions/BaseAction.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/actions/ChangeUserAction.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/actions/ErrorMessageAction.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/actions/HomeAction.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/actions/ManageSubmission.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/actions/ProjectGeneralInfoAction.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/actions/SearchProjectAction.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/actions/SysAdminAction.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/constants/ApplicationConstants.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/dao/MailTemplateDao.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/dao/ProjectsDao.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/dao/PropertyListDao.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/dao/UserRoleDao.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/domain/Document.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/domain/DulChecklist.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/domain/DulChecklistSelection.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/domain/InstitutionalCertification.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/domain/Lookup.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/domain/MailTemplate.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/domain/NedPerson.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/domain/PlanAnswerSelection.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/domain/PlanQuestionsAnswer.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/domain/Project.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/domain/Property.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/domain/RepositoryStatus.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/domain/StatusHistory.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/domain/StudiesDulSet.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/domain/Study.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/interceptor/UserInterceptor.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/services/LookupService.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/services/MailService.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/services/ManageProjectService.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/services/SearchProjectService.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/services/UserRoleService.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/services/impl/LookupServiceImpl.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/services/impl/MailServiceImpl.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/services/impl/ManageProjectServiceImpl.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/services/impl/SearchProjectServiceImpl.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/services/impl/UserRoleServiceImpl.java -text
src/gov/nih/nci/cbiit/scimgmt/gds/util/GdsProperties.java -text
src/manage.xml -text
src/search.xml -text
src/struts.xml -text
test/gov/nih/nci/cbiit/scimgmt/gds/junit/HibernateMappingTest.java -text
test/gov/nih/nci/cbiit/scimgmt/gds/junit/applicationContext.xml -text
