<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="RollingFile"  filename="/local/content/web/gds/logs/gds.log" filePattern="/local/content/web/gds/logs/gds.log-%d{yyyyMMdd-HHmmss}"
                 ignoreExceptions="false" bufferedIO="false" advertiseURI="https://gds-stage.nci.nih.gov/conf/gds/logs/gds.log" advertise="true">
			<PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
  				<SizeBasedTriggeringPolicy size="10 MB" />
  			</Policies>
  		</RollingFile>
	</Appenders>
	<Loggers>
		<logger name="gov.nih.nci.cbiit.scimgmt.gds" level="debug" >
			<AppenderRef ref="RollingFile"/>
		</logger>
		<Root level="error">
        	<AppenderRef ref="CONSOLE"/>
        </Root>
	</Loggers>
	
</Configuration>