table.dataTable thead th, table.dataTable thead td {
    padding: 0px 3px 0px 3px; 
    border-bottom: 1px solid #111;
    color: #FFF;
     background:#123e57;
}

.modalTheader th {
	padding: 0px 3px 0px 3px; 
    border-bottom: 1px solid #111;
    color: #FFF;
     background:#123e57;

}

.repoModalTable {
	font-size: 12px;
}