/* alternative styles */

table.its {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	text-align: left;
		border-color: transparent;
	border-collapse: collapse;
	margin: 5px 5px 10px 5px;
	display: block;
	clear: both;

}

.its thead, .its tr {
	border-right: 1px solid #6d92c3;
	}
.its th {
	font-size: 12px;
	font-weight: normal;
	padding:  4px;
	color: #fff;
	background-color: #174685;
	border-top: 4px solid #b1d6fb;
	border-right: 1px solid #b1d6fb;
	border-left: 1px solid #b1d6fb;
	
}
.its th a:link, .its th a:visited {
	color: #fff;
	border-color: #fff;
}
.its th.sortable:hover {
	background-color: #5282bc;
}
.its td {
	padding: 4px;
	color: #19304f;
	border-right: 1px solid #9baff1;
	border-left: 1px solid #9baff1;
	border-bottom: none;
	border-top: none;
	vertical-align: top;
	
	font-weight: bold;
}
.its .odd {
	background: #fff;
}
.its .even {
	background:  #e8edff;
}
.its tr.sup th {
	background: #fff;
	border-top: 1px #fff solid;
	border-left: 1px #fff solid;
}
.its tr.sup th.show {
	
	color:  #5282bc;
	font-size: 12px;
	font-weight: bold;
	padding-top: 0;
	padding-bottom: 0;
	text-align: center;
	text-transform: uppercase;
	background: #e8edff url('../table-images/gradback.png') repeat-x;
	border-top: 2px solid #b1d6fb;
	border-left: 1px solid #b1d6fb;
	border-right: 1px solid #b1d6fb;
	padding-top: 4px;
	padding-bottom: 4px;
	vertical-align: middle;
	letter-spacing: 1px;
}

.sup span {
	
	
	color: #03317b;
	}

.its tr {
	
	
	border-bottom: 1px solid #6d92c3;
	
	}
 a.highlight{
	font-weight: bold;
	text-size: 14px;	
		
		}
		
		td a {
			font-weight: bold;	
			}


textarea {
  resize: vertical; /* user can resize vertically, but width is fixed */
}			