@charset "UTF-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	list-style-position: inside;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
body {
	background: #fff;
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	font-weight: normal;
	text-decoration:none;
	text-align: center;
}
.content {
	float: left;
	padding: 5px 10px;
	background: url(../images/bg_body_r.png) top right no-repeat;
	margin: 0;
	padding: 0;
}
.inside {
	background: url(../images/bg_body_l.png) top left no-repeat;
	padding: 20px 5px 20px 20px;
	width: 980px;
	text-align: left;
}
h1#naa_header{
	padding: 0 0 0 0 !important;
	padding /**/: 0px 0 0 0;
	margin: 0px;
	font-size: 0pt;
	background-image: url(../images/ras_logo.png);
	background-position: -23px;
	background-size: contain;
	background-repeat: no-repeat;
	height: 100px !important; /* for most browsers */
	width: 426px !important; 
	z-index: 1;
	padding-top: 0px !important;
	padding-top: 0px;
	color: #fff;
}
#center {
	width: 1000px;
	margin: 0 auto;
	padding: 0 10px;
	text-align: left !important;
}
#navbar ul li {
	display: inline; /* Fix IE Step Down */
}
#navbar ul li a:link, #navbar ul li a:visited {
	display: block;
	height: 31px;
	float: left;
	background: url(../images/navtab-right.gif) top right no-repeat;
	margin: 0 1px 0 1px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	border-bottom: none;
}
#navbar ul li a span {
	display: block;
	height: 20px;
	float: left; /* IE 6 Fix */
	padding: 10px 10px 0px 10px;
	background: url(../images/navtab-left.gif) top left no-repeat;
	text-shadow: #000;
	border-bottom: none;
}
#navbar ul li a:hover, #navbar ul li a:active, #navbar ul li a.selected {
	background-position: bottom right;
	border-bottom: none;
}
#navbar ul li a:hover, #navbar ul li a:active {
	filter:alpha(opacity=85);
	opacity:0.85;
	border-bottom: none;
}
#navbar ul li a:hover span, #navbar ul li a.selected span {
	background-position: bottom left;
	color: #fff;
	cursor: pointer;
	border-bottom: none; /* Remind IE which cursor to use! */
}
.subnav {
	margin: 0 0 10px 0;
	font-size: 13px;
	color: #357df5;
	font-weight: bold;
	clear: both;
	text-align: left;
	background: url(../images/bg_sh.png) top center no-repeat;
}
.subnav ul {
	margin:  0;
	padding: 10px 0 0 0;
	text-align: left;
}
.subnav ul li {
	list-style-type: none;
	display: inline;
	padding-right: 11px;
	background-image: url(../images/subnav-divider.gif);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: right center;
}
.subnav ul li.last {
	background-image: none;
}
.subnav ul a:link, .subnav ul a:visited {
	font-size: 12px;
	font-weight: bold;
	color: #666;
}
.subnav a:hover {
	color: #4783e7;
	text-decoration: none;
}

.subnav ul.lnk, .subnav div.lnk {
	font-size: 11px;
	text-align: center;
	display: block;
	clear: both;
	color: #6c6c6c;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
}
.subnav div.lnk {
	margin-top: 10px;
	padding-top: 0;
}
.subnav ul.lnk a:link, .subnav ul.lnk a:visited {
	font-size: 11px;
	font-weight: normal;
	color: #6c6c6c;
	padding-right: 10px;
	border-color: #eee;
}
#cross_nav {
	float: right;
	margin: 8px 0 0 0;
	font-size: 12px;
	margin: 0px 0 0 0;
	padding: 23px 0 0 0;
	color: #666;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	text-align: right;
}
#admin_nav {
	font-size: 11px;
	text-align: right;
	margin: 2px 0 0 0;
	padding: 5px 0 0 0;
	color: #666;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}
#admin_nav ul, #cross_nav ul {
	margin: 0;
	padding: 4px 0 0 9px;
}
#admin_nav ul li, #cross_nav ul li {
	list-style-type: none;
	display: inline;
	padding-right: 12px;
	background-image: url(../images/subnav-divider.gif);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: right center;
}
#admin_nav ul li.last, #cross_nav ul li.last {
	background-image: none;
}

#cross_nav ul a:link, #cross_nav ul a:visited {
	color: #666;
	border-color: #999;
	padding: 1px 5px;
}
ul#name { 
	margin-top: 20px;
	margin-right: 13px;
}
img {
	border: 0;
}
fieldset {
	border: 2px solid #e9e9e9;
	padding: 5px;
	-moz-border-radius: .6em;
	border-radius: .6em;
	margin: 10px;
	margin: 0 20px 10px 0;
	font:  10px "Verdana", serif #ccc;
	text-align: left;
}